<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC6Z64_jl23h654LNpsM0Oe3hPonzyCZo</string>
	<key>GCM_SENDER_ID</key>
	<string>594766816357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoSnap</string>
	<key>PROJECT_ID</key>
	<string>memo-snap-eb3aa</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-snap-eb3aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594766816357:ios:b3dde2de4b97ee0b46d28c</string>
</dict>
</plist>